* {
    font-family: 'AvantGarde Md BT', Arial;
    font-weight: bold;
}

div.stationContainer {
    position: absolute;
    display: table;
    transform-origin: left center 0px;
    transform: translate(8px, -17px);
}

    div.stationContainer > p {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        line-height: 17px;
        padding: 0px;
        left: 0px;
        width: 80px;
        height: 50px;
        text-align: start;
        transform-origin: left center 0px;
        text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
    }

svg path {
    filter: drop-shadow(-2px 2px 0 #fff) drop-shadow(-2px -2px 0 #fff) drop-shadow(2px 2px 0 #fff) drop-shadow(2px -2px 0 #fff);
}
