* {
    color: rgba(0, 0, 0, 0.5);
    font-family: klytetica lt sss;
}

body {
    background-color: antiquewhite;
}

div.stationContainer {
    display: table;
    position: absolute;
}

    div.stationContainer > p {
        display: block;
        font-size: 9px;
        padding: 0;
        position: relative;
        text-align: start;
        text-shadow: 0.45px 0.45px 0 antiquewhite, -0.45px 0.45px 0 antiquewhite, -0.45px -0.45px 0 antiquewhite, 0.45px -0.45px 0 antiquewhite;
        transform-origin: center;
        width: 0px;
        height: 0;
        margin: -1em 0;
    }


svg path {
    filter: drop-shadow(-0.25px 0.25px 0 #fff) drop-shadow(-0.25px -0.25px 0 #fff) drop-shadow(0.25px 0.25px 0 #fff) drop-shadow(0.25px -0.25px 0 #fff);
}

svg polyline {
    fill: none;
}

div.stationContainer > p > x {
    display: flex;
    height: 0;
    transform-origin: left;
    align-items: center;
}

div.stationContainer > p > y {
    display: flex;
    font-weight: inherit;
    text-align: right;
    transform: scale(-1, -1);
}

.pathMetro {
    stroke-width: 2.5px;
    fill: none;
}

.pathMonorail {
    stroke-width: 3.5px;
    fill: none;
}

.pathTrain {
    stroke-width: 5px;
    fill: none;
}

.pathTram {
    stroke-width: 1px;
    fill: none;
}

.pathShip {
    stroke-width: 4px;
    fill: none;
    stroke-dasharray: 15, 10;
}


#linesPanel {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    border-left: 2px solid black;
}


    #linesPanel #title {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        height: 40px;
        font-size: 30px;
        color: black;
    }

    #linesPanel #date {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        color: gray;
    }


    #linesPanel #content * {
        overflow: hidden;
    }

    #linesPanel #content {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    }

        #linesPanel #content * {
            overflow: hidden;
        }

        #linesPanel #content .lineBlock {
            background: pink;
            height: 50px;
            display: block;
            float: left;
            width: 100%;
        }

            #linesPanel #content .lineBlock .lineNumber {
                position: relative;
                top: 2px;
                left: 2px;
                width: 46px;
                height: 46px;
                display: table-caption;
                vertical-align: top;
                -webkit-text-stroke-color: black;
                -webkit-text-stroke-width: 0.5px;
                text-align: center;
                color: white;
                font-size: 40px;
                z-index: 5;
            }

            #linesPanel #content .lineBlock svg text {
                fill: white;
                text-anchor: middle;
                font-size: 40px;
                dominant-baseline: central;
                stroke: black;
                stroke-width: 0.2px;
            }
