
* {
    color: rgba(0, 0, 0, 0.5);
    font-family: klytetica lt sss;
}

div.stationContainer {
    display: table;
    position: absolute;
    transform-origin: left top 0;
}

    div.stationContainer > p {
        display: table-cell;
        font-size: 9px;
        height: auto;
        left: 0;
        padding: 0;
        position: relative;
        text-align: start;
        text-shadow: 0.45px 0.45px 0 white, -0.45px 0.45px 0 white, -0.45px -0.45px 0 white, 0.45px -0.45px 0 white;
        transform-origin: left top 0;
        vertical-align: middle;
        width: 20px;
    }

svg path {
    filter: drop-shadow(-0.25px 0.25px 0 #fff) drop-shadow(-0.25px -0.25px 0 #fff) drop-shadow(0.25px 0.25px 0 #fff) drop-shadow(0.25px -0.25px 0 #fff);
}

svg polyline {
    fill: none;
}


div.stationContainer > p > b {
    display: flex;
    font-weight: inherit;
    text-align: right;
    transform: scale(-1, -1);
}

.pathMetro {
    stroke-width: 2.5px;
    fill: none;
}

.pathTrain {
    stroke-width: 5px;
    fill: none;
}

.pathTram {
    stroke-width: 1px;
    fill: none;
}

.pathShip {
    stroke-width: 4px;
    fill: none;
    stroke-dasharray: 15,10;
}
